@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary: #bd0856;
  --secondary: #4a79f3;
  --success: #20d416;
  --bg: #11161a;
  --bg-light: #151b20;
  --text: #eeeeee;
  --text-inactive: #a9adb5;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

body {
  color: var(--text);
  font-family: Inter, sans-serif, Arial, Helvetica;
}

.container {
  background: var(--bg-light);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
