.componentCard {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: var(--bg-light);
  border: 2px solid var(--text);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px 6px rgba(0, 0, 0.3);
  }

  &__buttonAdd {
    position: absolute;
    top: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--text);
    border: 0;
    border-radius: 0 0 0 8px;
    cursor: pointer;

    & > svg {
      width: 45px;
      height: 45px;
      fill: var(--bg-light);
      stroke: var(--bg-light);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background: var(--text);
    border-radius: 999px;

    & > svg {
      width: 40px;
      height: 40px;
      fill: var(--bg-light);
      stroke: var(--bg-light);
    }
  }

  &__name {
    margin-top: 10px;
    font-size: 24px;
  }

  &__content {
    flex: 1 1 auto;
    margin-top: 12px;
  }
}
