@use '@/shared/styles/breakpoints.module.scss' as *;

.workbenchCard {
  width: 100%;
  max-width: 600px;
  padding-bottom: 18px;
  background: var(--bg-light);
  border: 2px solid var(--text);
  border-radius: 12px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  user-select: none;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }

  &__drag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--text);
    border-radius: 0 0 8px 8px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    & > svg {
      width: 70%;
      height: 70%;
      fill: var(--bg-light);
      stroke: var(--bg-light);
    }
  }

  &__name {
    flex: 0 0 auto;
    margin-left: 24px;
    font-size: 28px;
  }

  &__buttonDelete {
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background: transparent;
    border: none;
    cursor: pointer;

    & > svg {
      width: 100%;
      height: 100%;
      fill: var(--primary);
      stroke: var(--primary);
    }
  }

  &__content {
    margin-top: 14px;
    padding: 0 20px;
  }
}

.workbenchCardEdit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  padding: 0 20px;
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;

  &__icon {
    width: 27px;
    height: 27px;
    fill: var(--text);
    stroke: var(--text);
  }

  &__text {
    font-size: 24px;
    font-style: italic;
  }
}

@include respond-below('xl') {
  .workbenchCard {
    padding-bottom: 14px;
    border: 1px solid var(--text);
    border-radius: 10px;

    &__header {
      height: 40px;
    }

    &__drag {
      border-radius: 0 0 6px 6px;
    }

    &__name {
      margin-left: 20px;
      font-size: 24px;
    }
  }

  .workbenchCardEdit {
    &__icon {
      width: 24px;
      height: 24px;
    }

    &__text {
      font-size: 22px;
    }
  }
}
