@use 'sass:map';

$breakpoints: (
  'xxl': 1920px,
  'xl': 1600px,
  'md': 1470px,
) !default;

@mixin respond-above($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $min: map.get($breakpoints, $breakpoint);
    @media (min-width: $max) {
      @content;
    }
  }
}

@mixin respond-below($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $max: map.get($breakpoints, $breakpoint) - 0.02px;
    @media (max-width: $max) {
      @content;
    }
  }
}
