@use '@/shared/styles/breakpoints.module.scss' as *;

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px;
  background: transparent;
  border-width: 2px;
  border-style: dashed;
  border-radius: 12px;
  fill: currentColor;
  stroke: currentColor;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  &.wide {
    width: 100%;
  }

  & > * {
    flex: 0 0 auto;
  }

  & > svg {
    width: 20px;
    height: 20px;
  }

  // colors
  &.primary {
    color: var(--primary);
    border-color: var(--primary);
  }
  &.success {
    color: var(--success);
    border-color: var(--success);
  }
  &.grey {
    color: var(--text-inactive);
    border-color: var(--text-inactive);
  }
}

@include respond-below('xl') {
  .button {
    padding: 5px 8px;
    font-size: 17px;

    & > svg {
      width: 18px;
      height: 18px;
    }
  }
}
