.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px;
  background: transparent;
  border: 2px dashed var(--primary);
  border-radius: 12px;
  color: var(--primary);
  fill: currentColor;
  stroke: currentColor;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  &.wide {
    width: 100%;
  }

  & > * {
    flex: 0 0 auto;
  }

  & > svg {
    width: 20px;
    height: 20px;
  }
}
