@use '@/shared/styles/breakpoints.module.scss' as *;

.selectItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  padding: 13px;
  font-size: 22px;
  cursor: pointer;
}

@include respond-below('xl') {
  .selectItem {
    height: 40px;
    font-size: 20px;
  }
}
